.good-day {
  width: 700px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1em;
  font-size: 30px;
  color: blue;
  background-color: rgba(214, 14, 14, 0.5);
  border: 5px solid rgb(109, 85, 133);
  border-radius: 10px;
}
